[Desktop Entry]
Name=Select Firefox Profile
Comment=Select your profile
GenericName=Web Browser
X-GNOME-FullName=Select Firefox\nProfile
Exec=/usr/bin/select-firefox-profile.sh %U
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/path/to/logo
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=Firefox-esr
StartupNotify=true
